@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');



:root {
    --white:#ffffff;
    --light-gray:#d6e2f0;
    --grayish-blue:#7b879d;
    --dark-blue:#1f3251;
    --default-font:'Outfit', sans-serif;
}

body {
    font-family: 'Outfit', sans-serif;
}

.page-wrapper {
    background-color: var(--light-gray);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    max-height: 750px;
    max-width: 500px;
    background-color: var(--white);
    padding:20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    gap:30px;
}

.img-wrapper {
    display: flex;
    flex: 2 0 0;
    justify-content: center;
    align-items: stretch;
    max-height:

}

.qr-code-image {
    display: flex;
    min-width: 100%;

}

.img-wrapper img {
    display: flex;
    border-radius: 10px;
}

.upper-text-wrapper {
    text-align: center;
    display: flex;

}

.upper-text-wrapper h1 {
    font-weight: 700;
}

.lower-text-wrapper {
    margin-bottom: 50px;
    display: flex;
}

.lower-text-wrapper h2 {
    text-align: center;
    font-weight: 400;
}